

      <!-- <footer class="footStyle">
        <p>&copy; 2015 Company, Inc.</p>
      </footer> -->


 <footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2016 Jasmine Martin WDI - 26</p>
  </div>
</footer>