

      <!-- <footer class="footStyle">
        <p>&copy; 2015 Company, Inc.</p>
      </footer> -->


 <footer class="footer">
  <div class="container">
    <p class="text-muted copyRight">&copy; 2019 Jasmine Martin</p>
  </div>
</footer>
