<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!--
<nav class="navBrown navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>

          </button>

    <a class="navbar-brand brandPadding" href="/">BoHo GLO</a>
    </div>


      <ul class="nav navbar-nav navbar-right navPadding">


       <li><a class="dropdown-toggle" data-toggle= "dropdown" href="#"> CATEGORIES</a>
          <ul class="dropdown-menu">
          <% for (var i = 0; i < categories.length; i++) { %>
            <li><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>

            <% } %>
          </ul>
          }
        </li>

      <% if (!user) { %>
        <li><a class="dropdown-toggle" data-toggle= "dropdown" href="#"> SIGNUP | LOGIN</a>
          <ul class="dropdown-menu">
            <li><a href="/signup">SIGNUP</a></li>
            <li><a href="/login">LOGIN</a></li>
          </ul>
        </li>


      <% } else { %>
          <li><a class="dropdown-toggle" data-toggle= "dropdown" href="#"> <%= user.profile.name %></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>

      <% } %>


<!-- the carts link should be href="/cart" disabling it bc it doesn't work on heroku -->
        <% if (user) { %>
        <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class="badge"><%= cart %></span></a></li>

        <% } else { %>
           <li><a href="/login" class="glyphicon glyphicon-shopping-cart"><span class="badge">0</span></a></li>
        <% } %>

      </ul>

    </div>
</nav> -->
