<!-- this is so that in the future we may have a few different main pages -->


<!DOCTYPE html>
<html lang="en">
  <head>
    

     <title>ecommerce site</title>
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/custom.css">

  </head>

  <body class='bkgc'>
    <% include ./partials/navbar %>


      <%- body -%>
      <!-- this is connected to ejs-mate -->



    <% include ./partials/footer %>
    <% include ./partials/javascriptOnly %>

 
  </body>
</html>
