
@font-face {
    font-family: discoverBeauty;
    src: url('/fonts/DiscoverBeauty.ttf');
}

body {
	padding-top: 100px;
	margin-bottom: 60px;
	font-family: 'Slabo';

}

nav {
font-family: 'Slabo';
}



#navbar-gap {

	margin-top: -4.5%;
	background-color: #282221;
};

.navbar-inverse {
	background-color: blue !important;
}

.product-image {
	width: 100%;
}

/*.bkgc {

	 background-image: url("/images/bk1.jpg");
}*/

.mainImg {
	 background: url("/images/hi3.jpg");
	 background-size: cover;
	 opacity: .9;
}

.titleColor {
	color: white;
   font-family: 'Geneva';

}


.mTitle {

 color: rgb(255, 255, 255) !important;
 font-family: discoverBeauty;
 text-shadow: 0 0 50px black;
  /*color: rgba(58,142,104, 0.55) !important;*/

}



.loginNow {
	margin-top: 15%;
	margin-left: 40%;
	font-size: 20px;
	padding: 10px;
	padding-left: 60px;
	padding-right: 60px;
    font-family: 'Geneva';
    border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.54);
}

.alignForm {
	margin-right: 20%;
}

.profileBg {
	background-color: rgba(255, 255, 255, 0.54);
	padding: 5%;
}

.thumbnail,
.cartBg {
	background-color: rgba(255, 255, 255, 0.41);
	border: 1px solid white;
}

.captAlign {
	text-align: center;
}

 html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(26, 26, 26);
  text-align: center;
  left: 0;
  	 background: url("/images/bk3.jpg");


/*  	background-color: rgba(62,39,35,0.98);
*/

}

.jumbotron {
	height: 100vh;
}

.front {
	margin-bottom: 15%;
}

.navBrown {
background: url("/images/bk3.jpg");}


