
<% layout('layout') -%>




<!-- This is the working Project -->
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron mainImg" id="navbar-gap">
      <div class="container">
		<h1 class="mTitle"> Discover Beauty</h1>
        <p class="titleColor">Create that Special Look You want</p>
   
            <a class="btn btn-default loginNow" href="/login">LOGIN TO SHOP</a>    
          
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
  
          <div class="col-md-4">
        <div class='thumbnail'>

		  <h2>DRESSES</h2>
          <img class= "front" src="images/hlight2.jpeg" alt="">
       
    </div>  
    </div>

          <div class="col-md-4">
          <div class='thumbnail'>
          <h2>CLOTHES</h2>
<img class= "front" src="images/highLightfit1.jpeg" alt="">         

  </div>  
    </div>
      
        
          <div class="col-md-4">
         <div class='thumbnail'>
         <h2>ACCESSORIES</h2>
          <img class= "front" src="images/hlight3.jpeg" alt="">
     </div>
   </div>
    
          
    </div>
      </div>

    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
