
<% layout('layout') -%>


 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron mainImg" id="navbar-gap">
      <div class="container">
		<h1 class="mTitleColor"> Shop Smart Save Big</h1>
        <p class="titleColor">Starting Point to create something more unique</p>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">


          
		  <h2>Start your Search here</h2>
          <p>Sign Up to Start Buying</p>

        </div>
        <div class="col-md-4">
          <h2>Look for smart items</h2>
		  <p>They will appear in your shopping cart</p>
         </div>
         <div class="col-md-4">
         <h2>Build a smart cart</h2>

		<p>The more items you buy together the more you save! :)</p>
        </div>

        
      </div>